<section id="story" class="wpo-story-section-s4 bg-color-s3 section-padding">
    <div class="container">
        <div class="row">
            <div class="wpo-section-title">
                <span>Nossa história</span>
                <h2>Como tudo aconteceu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="story-timeline">
                    <div class="round-shape"></div>
                    <div class="row">
                        <div class="col col-lg-6 col-12 order-lg-1 order-2 text-holder right-heart">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text right-align-text">
                                <span class="date">11 de Ago de 2023</span>
                                <h3>Como nos conhecemos</h3>
                                <p class="small">
                                    Numa noite imprevisível, estávamos na companhia de amigos e curtindo uma festa, após
                                    trocas de olhares, Igor se aproximou e afirmou que ela tinha um amigo em comum
                                    chamado Pedro, confirmei e após várias conversas, pediu para dançar uma música,
                                    desde então nós dois nunca mais nos desgrudamos.
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 order-lg-2 order-1">
                            <div class="img-holder right-align-img">
                                <img src="assets/images/history/history-1.png" alt class="img img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12">
                            <div class="img-holder right-align-text left-site">
                                <img src="assets/images/history/history-2.png" alt class="img img-responsive" />
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 text-holder">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text">
                                <span class="date">23 de Ago de 2023</span>
                                <h3>O pedido de namoro</h3>
                                <p class="small">
                                    Apesar de pouco tempo, a conexão foi rápida e intensa. Em meio a rotina corrida,
                                    sempre procuramos fazer tudo junto: treinar, ver séries e filmes, jantar. E logo
                                    ficou claro que a nossa linguagem do amor era tempo de qualidade. Com tanta sintonia
                                    o pedido de namoro veio naturalmente, Igor planejou tudo antes do jogo do Sport, me
                                    deu uma camisa e disse que agora podíamos sair combinando, me pediu em namoro e eu
                                    disse o primeiro sim!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12 order-lg-1 order-2 text-holder right-heart">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text right-align-text">
                                <span class="date">23 de Mar de 2024</span>
                                <h3>Ele propôs e eu disse Sim</h3>
                                <p class="small">
                                    Nas idas e vindas a Aldeia Igor me surpreendeu, convidou os nossos familiares mais
                                    próximos e organizou um momento lindo. Ele tinha me dito que íamos almoçar em um
                                    restaurante em aldeia, mas afirmou que precisava parar em casa, ao abrir a porta vi
                                    muitas pétalas vermelhas no chão e não consegui relacionar isso ao que estava
                                    acontecendo, de repente todo mundo aparece e ele se ajoelha e faz o pedido, demorei
                                    alguns segundos para entender tudo, e quando a “ficha caiu” em meio a muitos risos
                                    de felicidade, eu disse sim!!!
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 order-lg-2 order-1">
                            <div class="img-holder right-align-img">
                                <img src="assets/images/history/history-3.png" alt class="img img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12">
                            <div class="img-holder video-holder left-site">
                                <img src="assets/images/history/history-4.jpg" alt class="img img-responsive" />
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 text-holder">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text">
                                <span class="date">24 de Out de 2024</span>
                                <h3>O dia mais importante</h3>
                                <p class="small">
                                    Um dia repleto de sorrisos, lágrimas de alegria e promessas eternas. Memórias
                                    preciosas capturadas em cada batida do coração, cada olhar apaixonado, e cada toque
                                    suave. O início de uma nova história, tecida com amor, felicidade e a promessa de um
                                    futuro radiante juntos. #DiaDoNossoSim #AmorParaSempre
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-lg-6 col-lg-6 col-12 text-holder">
                            <div class="round-shape-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
