<section id="story" class="wpo-story-section-s4 bg-color-s3 section-padding">
    <div class="container">
        <div class="row">
            <div class="wpo-section-title">
                <span>Nossa história</span>
                <h2>Como tudo aconteceu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="story-timeline">
                    <div class="round-shape"></div>
                    <div class="row">
                        <div class="col col-lg-6 col-12 order-lg-1 order-2 text-holder right-heart">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text right-align-text">
                                <span class="date">11 de Ago de 2023</span>
                                <h3>Como nos conhecemos</h3>
                                <p class="small">
                                    Em uma noite de festa entre amigos, após alguns olhares trocados, Igor tomou a
                                    iniciativa de se aproximar de Raquel, usando como pretexto uma amizade em comum,
                                    Pedro. Depois desse encontro inesperado, dançaram juntos e desde então não se
                                    separaram mais.
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 order-lg-2 order-1">
                            <div class="img-holder right-align-img">
                                <img src="assets/images/history/history-1.png" alt class="img img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12">
                            <div class="img-holder right-align-text left-site">
                                <img src="assets/images/history/history-2.png" alt class="img img-responsive" />
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 text-holder">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text">
                                <span class="date">23 de Ago de 2023</span>
                                <h3>O pedido de namoro</h3>
                                <p class="small">
                                    Apesar do pouco tempo juntos, a conexão entre eles foi rápida e intensa. Em meio à
                                    rotina corrida, sempre encontravam tempo para fazer tudo junto: treinar, assistir
                                    séries e filmes, jantar, e muito mais. Com tanta sintonia, o pedido de namoro
                                    aconteceu naturalmente. Igor planejou tudo antes do jogo do Sport e presenteou
                                    Raquel com uma camisa do time. Agora, finalmente, poderiam ir para o jogo
                                    combinando. Logo depois veio o pedido de namoro e o primeiro "sim"!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12 order-lg-1 order-2 text-holder right-heart">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text right-align-text">
                                <span class="date">23 de Mar de 2024</span>
                                <h3>Ele propôs e eu disse Sim</h3>
                                <p class="small">
                                    E então veio a maior das surpresas: o pedido de casamento. Igor convidou a família
                                    deles para um almoço de noivado em sua casa, em Aldeia, mas Raquel não fazia ideia
                                    do que estava por vir. Para garantir que sua futura noiva não desconfiasse de nada,
                                    Igor a convidou para um almoço num restaurante, porém antes precisavam passar na
                                    casa dele... O susto foi enorme; a casa estava decorada com pétalas, e a família
                                    estava reunida. Raquel levou um tempo para compreender o que estava acontecendo, mas
                                    finalmente disse o tão esperado "sim"!
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 order-lg-2 order-1">
                            <div class="img-holder right-align-img">
                                <img src="assets/images/history/history-3.png" alt class="img img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12">
                            <div class="img-holder video-holder left-site">
                                <img src="assets/images/history/history-4.jpg" alt class="img img-responsive" />
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 text-holder">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text">
                                <span class="date">24 de Out de 2024</span>
                                <h3>O dia mais importante</h3>
                                <p class="small">
                                    Será um dia repleto de sorrisos, lágrimas de alegria e promessas de amor, não apenas
                                    as nossas, mas de todos que nos amam e desejam nossa felicidade. É o começo de uma
                                    nova história, tecida com amor, felicidade e a promessa de um futuro feliz juntos.
                                    #DiaDoNossoSim #AmorParaSempre
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-lg-6 col-lg-6 col-12 text-holder">
                            <div class="round-shape-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
