<section id="story" class="wpo-story-section-s4 bg-color-s3 section-padding">
    <div class="container">
        <div class="row">
            <div class="wpo-section-title">
                <span>Nossa história</span>
                <h2>Como tudo aconteceu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="story-timeline">
                    <div class="round-shape"></div>
                    <div class="row">
                        <div class="col col-lg-6 col-12 order-lg-1 order-2 text-holder right-heart">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text right-align-text">
                                <span class="date">02 Nov, 2020</span>
                                <h3>Como nos conhecemos</h3>
                                <p>
                                    Consectetur adipiscing elit. Fringilla at risus orci, tempus facilisi sed. Enim
                                    tortor, faucibus netus orci donec volutpat adipiscing.
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 order-lg-2 order-1">
                            <div class="img-holder right-align-img">
                                <img src="assets/images/our-history-2.jpg" alt class="img img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12">
                            <div class="img-holder right-align-text left-site">
                                <img
                                    src="https://wpocean.com/html/tf/habibi/assets/images/couple/3.jpg"
                                    alt
                                    class="img img-responsive"
                                />
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 text-holder">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text">
                                <span class="date">22 Feb, 2019</span>
                                <h3>O pedido de namoro</h3>
                                <p>
                                    Consectetur adipiscing elit. Fringilla at risus orci, tempus facilisi sed. Enim
                                    tortor, faucibus netus orci donec volutpat adipiscing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12 order-lg-1 order-2 text-holder right-heart">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text right-align-text">
                                <span class="date">02 Nov, 2020</span>
                                <h3>Ele propôs e eu disse Sim</h3>
                                <p>
                                    Consectetur adipiscing elit. Fringilla at risus orci, tempus facilisi sed. Enim
                                    tortor, faucibus netus orci donec volutpat adipiscing.
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 order-lg-2 order-1">
                            <div class="img-holder right-align-img">
                                <img src="assets/images/our-history-2.jpg" alt class="img img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-6 col-12">
                            <div class="img-holder video-holder left-site">
                                <img src="assets/images/our-history-3.jpg" alt class="img img-responsive" />
                            </div>
                        </div>
                        <div class="col col-lg-6 col-12 text-holder">
                            <span class="heart">
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <div class="story-text">
                                <span class="date">24 de Out de 2024</span>
                                <h3>O dia mais importante</h3>
                                <p>
                                    Consectetur adipiscing elit. Fringilla at risus orci, tempus facilisi sed. Enim
                                    tortor, faucibus netus orci donec volutpat adipiscing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col offset-lg-6 col-lg-6 col-12 text-holder">
                            <div class="round-shape-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
