<section id="rsvp" class="wpo-contact-section-s4 wpo-blog-section bg-color-s3 section-padding">
    <div class="wpo-contact-section-inner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-3">
                    <div class="wpo-contact-section-wrapper w-100">
                        <div class="wpo-contact-form-area" style="padding: 48px 32px">
                            <div class="wpo-section-title">
                                <h2>Confirmar presença</h2>
                            </div>
                            <form class="contact-validation-active" id="contact-form-main" (ngSubmit)="onSubmitRsvp()">
                                <div class="mb-4">
                                    <app-input-text
                                        #inputName
                                        placeholder="Nome ou nome da família"
                                        helperText="Conforme escrito no convite"
                                        [required]="true"
                                        [readOnly]="!isFormInEditableState(rsvpForm.state)"
                                    ></app-input-text>
                                </div>
                                <div class="mb-4">
                                    <app-input-radiogroup
                                        #radioRsvpAnswer
                                        [options]="rsvpAnswerInputOptions"
                                        (optionChanged)="onToggleRsvpAnswer()"
                                        [required]="true"
                                        [readOnly]="!isFormInEditableState(rsvpForm.state)"
                                    ></app-input-radiogroup>
                                </div>
                                <div *ngIf="rsvpForm.fields.answer === false">
                                    <app-input-text-area
                                        #textAreaMessage
                                        placeholder="Deixe uma mensagem para os noivos... e não esqueça de assinar com seu nome completo no final "
                                        [rows]="6"
                                        [readOnly]="!isFormInEditableState(rsvpForm.state)"
                                    ></app-input-text-area>
                                </div>
                                <div *ngIf="rsvpForm.fields.answer === true">
                                    <div class="mb-4">
                                        <app-select-single-choice
                                            #selectGuestQty
                                            placeholder="Quantas pessoas irão com você?"
                                            helperText="Por convite encaminhado"
                                            [options]="rsvpQtyGuestSelectOptions"
                                            [required]="true"
                                            [readOnly]="!isFormInEditableState(rsvpForm.state)"
                                        >
                                        </app-select-single-choice>
                                    </div>
                                </div>
                                <div class="submit-area">
                                    <button
                                        type="submit"
                                        class="theme-btn"
                                        [disabled]="!isFormInEditableState(rsvpForm.state)"
                                    >
                                        <span *ngIf="isFormInLoadingState(rsvpForm.state)">
                                            <span
                                                class="spinner-border spinner-border-sm me-3"
                                                aria-hidden="true"
                                            ></span>
                                            <span>Enviando...</span>
                                        </span>
                                        <span *ngIf="isFormInEditableState(rsvpForm.state)">
                                            <span>Enviar resposta</span>
                                        </span>
                                        <span *ngIf="isFormInSuccessState(rsvpForm.state)">
                                            <span>Resposta enviada!</span>
                                        </span>
                                    </button>
                                    <div id="c-loader">
                                        <i class="ti-reload"></i>
                                    </div>
                                </div>
                                <div class="clearfix error-handling-messages">
                                    <div id="success">Thank you</div>
                                    <div id="error">Error occurred while sending email. Please try again later.</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-shape-2" style="position: absolute; left: 0px; top: 0px; z-index: -1">
                <img src="https://wpocean.com/html/tf/habibi/assets/images/blog/shape-2.svg" alt="" />
            </div>
        </div>
        <div class="b-shape">
            <img src="https://wpocean.com/html/tf/habibi/assets/images/blog/shape-1.svg" alt="" />
        </div>
    </div>
</section>
