<section class="wpo-event-section-s2 section-padding pt-0" id="location">
    <div class="wpo-section-title">
        <span>Nossa cerimônia</span>
        <h2>Quando & Onde</h2>
    </div>
    <div class="wpo-event-wrap">
        <div class="row">
            <div class="col col-12 px-5 col-md-6 col-xl-5">
                <div class="wpo-event-item ms-xl-5">
                    <div class="wpo-event-img">
                        <div class="wpo-event-img-inner position-relative">
                            <img src="assets/images/location.png" alt="" style="max-width: 450px" />
                            <a role="button" class="video-btn" (click)="onShowLocationVideo()">
                                <i class="fa-regular fa-circle-play fa-5x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="wpo-event-text fs-1">
                        <ul>
                            <li>
                                Quinta-feira, <br />
                                24 de Outubro de 2024. <br />
                                das 19:00 às 23:00
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/sousamadhi/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="underscore text-nowrap"
                                >
                                    Samadhi Gastronomia Conceito
                                </a>
                                <br />
                                Av. Dezessete de Agosto, 2656, <br />
                                Casa Forte, Recife.
                            </li>
                            <li>
                                <a
                                    class="popup-gmaps"
                                    href="https://www.google.com/maps/dir//Samadhi+Gastronomia+Conceito+Av.+Dezessete+de+Agosto,+2656+-+Casa+Forte+Recife+-+PE+52061-105/@-8.0276918,-34.9278317,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x7ab194dce58e473:0x9863b78866ba9354"
                                >
                                    Como chegar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <iframe
                    width="100%"
                    height="100%"
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?q=samadhi%20gastronomia&t=&z=14&ie=UTF8&iwloc=&output=embed"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    style="min-height: 350px"
                ></iframe>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>

<!-- Modal: show photo -->
<ng-template #content let-modal>
    <iframe src="https://www.youtube.com/embed/TQMJgXo_lAU?autoplay=1" allow="autoplay" height="600"></iframe>
</ng-template>
