@font-face {
    font-family: "Euphoria";
    src: url("../fonts/Euphoria_Script/EuphoriaScript-Regular.ttf");
}
@font-face {
    font-family: "Cinzel";
    src: url("../fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
}
