@font-face {
    font-family: "Euphoria";
    src: url("../fonts/Euphoria_Script/EuphoriaScript-Regular.ttf");
}
@font-face {
    font-family: "Alex-Brush";
    src: url("../fonts/Alex_Brush/AlexBrush-Regular.ttf");
}
@font-face {
    font-family: "Cinzel";
    src: url("../fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
}

.fs-14 {
    font-size: 14px !important;
}
