.readonly {
    background: #e9ecef !important;
    color: #607080;
    pointer-events: none;
    touch-action: none;
}

.btn-outline-primary {
    color: $theme-primary-color;
    border-color: $theme-primary-color;
    &:hover {
        background: $theme-primary-color;
        // color: $white !important;
        border-color: $theme-primary-color;
    }
}
.btn-check:checked + .btn {
    color: $white !important;
    &:hover {
        color: $theme-primary-color;
    }
}

textarea {
    width: 100%;
    border-color: #d9d9d9 !important;
    &::placeholder {
        font-size: 16px !important;
        color: #bdbec2 !important;
    }
}

.form-control {
    & ~ .form-control-icon {
        top: 0.2rem;
    }
}

.form-group {
    &[class*="has-icon-"] {
        &.has-icon-left {
            .form-control {
                padding-left: 2.5rem;
            }
            .form-control-icon {
                left: 0;
            }
        }
        &.has-icon-right {
            .form-control {
                padding-right: 2.5rem;
            }
            .form-control-icon {
                right: 0;
            }
        }
        .form-control-icon {
            position: absolute;
            padding: 0 0.6rem;
            i,
            svg {
                width: 1.2rem;
                color: $input-placeholder-color;
                font-size: 1.2rem;
                &:before {
                    vertical-align: sub;
                }
            }
        }
    }
}
