<app-gift-header></app-gift-header>

<app-gift-hero subtitle="Pagamento"></app-gift-hero>

<div class="wpo-checkout-area section-padding">
    <div class="container">
        <div class="checkout-wrap">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <form (ngSubmit)="onSubmitMessage()">
                        <div class="caupon-wrap s2">
                            <div class="biling-item">
                                <div class="coupon coupon-3">
                                    <label>Deixe uma mensagem para os noivos</label>
                                </div>
                                <div class="billing-adress" id="open2">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <app-input-text
                                                #inputName
                                                label="Seu nome"
                                                [required]="true"
                                                [readOnly]="!isFormInEditableState(messageFormState)"
                                            ></app-input-text>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <app-input-text
                                                #inputPhone
                                                label="Seu telefone"
                                                type="tel"
                                                [mask]="PHONE_MASK"
                                                [required]="true"
                                                [readOnly]="!isFormInEditableState(messageFormState)"
                                            ></app-input-text>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <app-input-text
                                                #inputEmail
                                                type="email"
                                                label="Seu email"
                                                [validators]="[emailInputTextValidator]"
                                                [readOnly]="!isFormInEditableState(messageFormState)"
                                            ></app-input-text>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <app-input-text-area
                                                #textAreaMessage
                                                label="Sua mensagem"
                                                [required]="true"
                                                [readOnly]="!isFormInEditableState(messageFormState)"
                                            ></app-input-text-area>
                                        </div>
                                    </div>

                                    <div class="submit-btn-area">
                                        <ul>
                                            <li>
                                                <button
                                                    class="theme-btn-s4"
                                                    type="submit"
                                                    [disabled]="!isFormInEditableState(messageFormState)"
                                                >
                                                    <span *ngIf="isFormInLoadingState(messageFormState)">
                                                        <span
                                                            class="spinner-border spinner-border-sm me-3"
                                                            aria-hidden="true"
                                                        ></span>
                                                        <span>Enviando...</span>
                                                    </span>
                                                    <span *ngIf="isFormInEditableState(messageFormState)">
                                                        <span>Enviar mensagem</span>
                                                    </span>
                                                    <span *ngIf="isFormInSuccessState(messageFormState)">
                                                        <span>Mensagem enviada!</span>
                                                    </span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="cout-order-area">
                        <div class="oreder-item">
                            <ul>
                                <li class="o-header">Seus presentes<span>( {{gifts.length}} )</span></li>
                                <li class="d-flex justify-content-between" *ngFor="let gift of gifts">
                                    <span class="w-75">{{gift.name}}</span><span>{{formatCurrency(gift.price)}}</span>
                                </li>
                                <li class="o-bottom">Valor total:<span>{{formatCurrency(total)}}</span></li>
                                <li class="o-bottom pb-1">
                                    <a
                                        role="button"
                                        class="view-cart-btn px-3 w-100 text-center"
                                        (click)="onPayWithPIX(content)"
                                        >Pagar via PIX</a
                                    >
                                </li>
                                <li class="pt-1">
                                    <a role="button" class="view-cart-btn px-3 w-100 text-center">Pagar com Cartão</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <iframe [src]="pixUrl" frameborder="0" height="600px"></iframe>
</ng-template>

<app-footer></app-footer>
