.auth-page {
    height: 100vh;
    overflow-y: auto;
    width: 100%;
}

.auth-wrapper {
    min-width: 512px;
    overflow-y: scroll;
    @media (max-width: 576px) {
        min-width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        height: 100vh;
    }
}
.auth-content {
    max-width: 320px;
}
