<app-gift-header returnTo="main-page"></app-gift-header>

<app-gift-hero></app-gift-hero>

<section class="wpo-shop-page section-padding">
    <h2 class="hidden">some</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <div class="wpo-product-section">
                    <div class="wpo-product-wrap">
                        <div class="row">
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" *ngFor="let gift of filterList">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img
                                            [src]="gift.imageUrls[0]"
                                            alt=""
                                            style="max-width: 300px; max-height: 450px"
                                        />
                                        <ul>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="wpo-product-text">
                                        <span class="wpo-product-title"> {{gift.name}} </span>
                                        <ul>
                                            <li>{{formatCurrency(gift.price)}}</li>
                                        </ul>

                                        <a
                                            role="button"
                                            class="theme-btn px-4 py-2 fs-6 mt-3"
                                            (click)="onAddToCart(gift.id)"
                                        >
                                            Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 order-lg-1">
                <div class="wpo-shop-sidebar">
                    <div class="widget widget_search">
                        <div class="search-widget">
                            <form class="searchform" (ngSubmit)="onFilterBySearch()">
                                <div>
                                    <input
                                        type="text"
                                        placeholder="Nome do presente..."
                                        name="search"
                                        [(ngModel)]="searchText"
                                    />
                                    <button type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget woocommerce">
                        <h3>Ordernação</h3>
                        <app-select-single-choice
                            #selectSortBy
                            [options]="sortBySelectOptions"
                            [initialSelectedValue]="sortBySelectOptions[0].value"
                            (optionChanged)="onSortByChanged()"
                        ></app-select-single-choice>
                    </div>

                    <div class="widget woocommerce widget_product_categories">
                        <h3>Filtrar por categorias</h3>
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item"
                                *ngFor="let category of categories; let i = index"
                                [ngClass]="{'active': filterCategories.includes(category)}"
                            >
                                <a
                                    role="button"
                                    class="w-100"
                                    [ngClass]="{'text-white': filterCategories.includes(category)}"
                                    (click)="onFilterByCategory(category)"
                                    >{{category}}</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_price_filter">
                        <h3>Filtrar por preço</h3>
                        <div class="row">
                            <div class="col">
                                <app-input-text
                                    #inputFilterByPriceMinimum
                                    placeholder="Mínimo"
                                    [modifier]="priceTextModifier"
                                    [showClearButton]="true"
                                ></app-input-text>
                            </div>
                            <div class="col">
                                <app-input-text
                                    #inputFilterByPriceMaximum
                                    placeholder="Máximo"
                                    [modifier]="priceTextModifier"
                                    [showClearButton]="true"
                                ></app-input-text>
                            </div>
                        </div>

                        <a
                            role="button"
                            class="theme-btn d-block text-center px-4 py-2 fs-6 mt-3"
                            (click)="onFilterByPrice()"
                            >Filtrar</a
                        >
                    </div>
                    <div class="widget widget_best-seller d-none">
                        <h3>MAIS PROCURADOS</h3>
                        <div class="wpo-best-seller-item">
                            <div class="wpo-best-seller-img">
                                <img src="https://placehold.co/80x100" alt="" />
                            </div>
                            <div class="wpo-best-seller-text">
                                <h4>Hospedagem da lua de mel</h4>
                                <span>R$ 220,00</span>
                            </div>
                        </div>
                        <div class="wpo-best-seller-item">
                            <div class="wpo-best-seller-img">
                                <img src="https://placehold.co/80x100" alt="" />
                            </div>
                            <div class="wpo-best-seller-text">
                                <h4>Passagens pro Canadá</h4>
                                <span>R$ 380,00</span>
                            </div>
                        </div>
                        <div class="wpo-best-seller-item">
                            <div class="wpo-best-seller-img">
                                <img src="https://placehold.co/80x100" alt="" />
                            </div>
                            <div class="wpo-best-seller-text">
                                <h4>Hospedagem pro Canadá</h4>
                                <span>R$ 820,00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
