<app-main-header></app-main-header>

<section class="wpo-page-title">
    <div class="preview-panel-wrap">
        <div class="preview-panel glass"></div>
    </div>
    <div class="container" style="z-index: 9999">
        <div class="row">
            <div class="col col-xs-12">
                <div class="wpo-breadcumb-wrap">
                    <h1 class="display-1 text-white">Lista de Presentes</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wpo-shop-page section-padding">
    <h2 class="hidden">some</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <!-- start wpo-product-section -->
                <div class="wpo-product-section">
                    <div class="sorting-section">
                        <ul>
                            <li>Exibindo 1—10 de 80 itens</li>
                            <li>
                                <select name="sorting" id="sorting" class="select">
                                    <option value="menu_order" selected="selected">Ordernação padrão</option>
                                    <option value="date">Ordernar pelos mais recentes</option>
                                    <option value="price">Ordernar pelo menor preço</option>
                                    <option value="price-desc">Ordernar pelo maior preço</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="wpo-product-wrap">
                        <div class="row">
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                        <ul>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3>
                                            <a [routerLink]="URLS.PATHS.GIFTS.DETAILS.ABSOLUTE_PATH()"
                                                >Terno do noivo</a
                                            >
                                        </h3>
                                        <ul>
                                            <li>R$ 800,00</li>
                                        </ul>

                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Alianças de casamento</a></h3>
                                        <ul>
                                            <li>R$ 750,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Brincos da noiva</a></h3>
                                        <ul>
                                            <li>R$ 100,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Sapato da noiva</a></h3>
                                        <ul>
                                            <li>R$ 320,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Gravata do noivo</a></h3>
                                        <ul>
                                            <li>R$ 800,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Bolo do casamento</a></h3>
                                        <ul>
                                            <li>R$ 750,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Docinhos do casamento</a></h3>
                                        <ul>
                                            <li>R$ 100,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Cabelo e Maquiagem da noiva</a></h3>
                                        <ul>
                                            <li>R$ 320,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Passagens da lua de mel</a></h3>
                                        <ul>
                                            <li>R$ 800,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Hospedagem da lua de mel</a></h3>
                                        <ul>
                                            <li>R$ 750,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Passagens para o Canadá</a></h3>
                                        <ul>
                                            <li>R$ 100,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="wpo-product-item">
                                    <div class="wpo-product-img">
                                        <img src="https://placehold.co/300x400" alt="" />
                                    </div>
                                    <div class="wpo-product-text">
                                        <h3><a href="shop-single.html">Hospedagem no Canadá</a></h3>
                                        <ul>
                                            <li>R$ 320,00</li>
                                        </ul>
                                        <a href="cart.html" class="theme-btn px-4 py-2 fs-6 mt-3"
                                            >Adicionar ao carrinho</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end wpo-product-section -->
            </div>
            <div class="col-lg-3 col-md-8 order-lg-1">
                <div class="wpo-shop-sidebar">
                    <div class="widget widget_search">
                        <div class="search-widget">
                            <form class="searchform">
                                <div>
                                    <input type="text" placeholder="Nome do presente..." />
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget woocommerce widget_product_categories">
                        <h3>Filtrar por categorias</h3>
                        <ul class="product-categories">
                            <li class="cat-item cat-parent">
                                <a href="#">Acessórios dos noivos</a>
                            </li>
                            <li class="cat-item">
                                <a href="#">itens do casamento</a>
                            </li>
                            <li class="cat-item">
                                <a href="#">Lua de mel</a>
                            </li>
                            <li class="cat-item">
                                <a href="#">Canadá</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_price_filter">
                        <h3>Filtrar por preço</h3>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Mínimo" aria-label="First name" />
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Máximo" aria-label="Last name" />
                            </div>
                        </div>

                        <a href="cart.html" class="theme-btn d-block text-center px-4 py-2 fs-6 mt-3">Filtrar</a>
                    </div>
                    <div class="widget widget_best-seller">
                        <h3>MAIS PROCURADOS</h3>
                        <div class="wpo-best-seller-item">
                            <div class="wpo-best-seller-img">
                                <img src="https://placehold.co/80x100" alt="" />
                            </div>
                            <div class="wpo-best-seller-text">
                                <h4>Hospedagem da lua de mel</h4>
                                <span>R$ 220,00</span>
                            </div>
                        </div>
                        <div class="wpo-best-seller-item">
                            <div class="wpo-best-seller-img">
                                <img src="https://placehold.co/80x100" alt="" />
                            </div>
                            <div class="wpo-best-seller-text">
                                <h4>Passagens pro Canadá</h4>
                                <span>R$ 380,00</span>
                            </div>
                        </div>
                        <div class="wpo-best-seller-item">
                            <div class="wpo-best-seller-img">
                                <img src="https://placehold.co/80x100" alt="" />
                            </div>
                            <div class="wpo-best-seller-text">
                                <h4>Hospedagem pro Canadá</h4>
                                <span>R$ 820,00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
