<footer class="wpo-site-footer-s2">
    <div style="padding-top: 120px; padding-bottom: 80px">
        <div class="container">
            <div class="row">
                <div class="col col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="widget about-widget text-lg-start">
                        <div class="logo widget-title">
                            <a class="logo" href="index.html">Raquel & Igor</a>
                        </div>
                        <p>Mal podemos esperar para compartilhar este momento tão aguardado com todos vocês.</p>
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>Nosso Contatos</h3>
                        </div>
                        <div class="">
                            <p>Raquel</p>
                            <p class="d-block mb-1">
                                <a role="button" class="underscore fs-14 hover-white" target="_blank">
                                    Email: raquellsleao&#64;gmail.com
                                </a>
                            </p>
                            <p class="mb-1">
                                <a
                                    role="button"
                                    class="underscore fs-14 hover-white"
                                    target="_blank"
                                    href="https://www.instagram.com/raquellsleao/"
                                >
                                    Instagram: &#64;raquellsleao
                                </a>
                            </p>
                            <p class="mb-1">
                                <a
                                    role="button"
                                    class="underscore fs-14 hover-white"
                                    target="_blank"
                                    href="https://wa.me/558197305821"
                                >
                                    WhatsApp: wa.me/raquel
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget link-widget">
                        <div class="widget-title d-none d-md-inline-block">
                            <h3>&nbsp;</h3>
                        </div>
                        <div class="">
                            <p>Igor</p>
                            <p class="d-block mb-1">
                                <a role="button" class="underscore fs-14 hover-white" target="_blank">
                                    Email: igoreesende&#64;gmail.com
                                </a>
                            </p>
                            <p class="mb-1">
                                <a
                                    role="button"
                                    class="underscore fs-14 hover-white"
                                    target="_blank"
                                    href="https://www.instagram.com/igoreesende/"
                                >
                                    Instagram: &#64; igoreesende
                                </a>
                            </p>
                            <p class="mb-1">
                                <a
                                    role="button"
                                    class="underscore fs-14 hover-white"
                                    target="_blank"
                                    href="https://wa.me/558181993347"
                                >
                                    WhatsApp: wa.me/igor
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>

    <div class="wpo-lower-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <small class="text-white-50">
                        Criado com <i class="fa-solid fa-heart"></i> por
                        <a
                            href="https://www.linkedin.com/in/raphaelcomph-dev/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Raphael Soares</a
                        >
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>
