<div class="modal-header">
    <span class="modal-title fs-5" id="modalTitleId">Editar confirmação de presença</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>

<div class="modal-body p-md-4">
    <form (ngSubmit)="onSaveRsvpAnswer()">
        <div class="mb-4">
            <app-input-text
                #inputName
                placeholder="Nome ou nome da família"
                [required]="true"
                [initialValue]="originalRsvpAnswer.name"
            ></app-input-text>
        </div>
        <div class="mb-4">
            <app-input-radiogroup
                #radioRsvpAnswer
                [options]="rsvpAnswerInputOptions"
                [required]="true"
                [initialCheckedOption]="originalRsvpAnswer.answer.toString()"
                (optionChanged)="originalRsvpAnswer.answer = !originalRsvpAnswer.answer"
            ></app-input-radiogroup>
        </div>
        <div class="mb-4" *ngIf="originalRsvpAnswer.answer === true">
            <app-select-single-choice
                #selectGuestQty
                placeholder="Quantas pessoas irão com você?"
                [options]="rsvpQtyGuestSelectOptions"
                [required]="originalRsvpAnswer.answer"
                [initialSelectedValue]="originalRsvpAnswer.guestQty?.toString()"
            >
            </app-select-single-choice>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary" (click)="onCancel()">
        <span>Cancelar</span>
    </button>
    <button type="submit" class="btn btn-primary text-white" (click)="onSaveRsvpAnswer()">
        <span>Salvar resposta</span>
    </button>
</div>
