<section class="wpo-portfolio-section section-padding">
    <div class="container-fluid">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="owl-item" *ngFor="let photoAssetUrl of photoList">
                <div class="grid">
                    <div class="img-holder">
                        <a class="fancybox" (click)="onZoomPhoto(photoAssetUrl)" role="button">
                            <img src="{{ photoAssetUrl }}" class="card-img-top" alt="..." />
                            <div class="hover-content">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<!-- Modal: show photo -->
<ng-template #content let-modal>
    <button
        type="button"
        class=""
        aria-label="Close"
        style="
            position: absolute;
            top: 10px;
            right: 10px;
            color: white !important;
            background: #555;
            opacity: 0.7;
            border: 0;
            border-radius: 100%;
            font-size: 1rem;
            padding-top: 2px;
            padding-bottom: 0px;
        "
        (click)="modal.dismiss('Cross click')"
    >
        <i class="fa-solid fa-xmark"></i>
    </button>
    <img src="{{ zoomPhotoAssetUrl }}" alt="" />
</ng-template>
