<section class="wpo-portfolio-section section-padding" id="gallery">
    <div class="container-fluid">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="owl-item">
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-1.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide class="owl-item">
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-2.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide class="owl-item">
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-13.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide class="owl-item">
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-5.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-4.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-6.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-7.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-8.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-11.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-10.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-12.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-3.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-9.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-14.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid">
                    <div class="img-holder">
                        <img src="assets/images/gallery/gallery-15.jpeg" class="card-img-top" alt="..." />
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
