<section class="wpo-portfolio-section section-padding" id="gallery">
    <div class="container-fluid">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="owl-item" *ngFor="let photoAssetUrl of photoList">
                <div class="grid">
                    <div class="img-holder">
                        <a class="fancybox" (click)="onZoomPhoto(photoAssetUrl)" role="button">
                            <img src="{{ photoAssetUrl }}" class="card-img-top" alt="..." />
                            <div class="hover-content">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<!-- Modal: show photo -->
<ng-template #content let-modal>
    <img src="{{ zoomPhotoAssetUrl }}" alt="" />
</ng-template>
