<section class="static-hero-s3" style="background: url(assets/images/hero/hero-bg22.png) no-repeat center center">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-12">
                        <div class="wpo-static-hero-inner">
                            <div class="slide-title zoomIn">
                                <h2>Raquel <span>&</span> Igor</h2>
                                <div class="shape">
                                    <img src="assets/images/hero/hero4-flower.png" alt="" />
                                </div>
                            </div>
                            <div class="slide-sub-title fadeInUp">
                                <h1>Save the date</h1>
                            </div>
                            <div class="slide-text fadeInUp">
                                <p>
                                    Iremos nos casar em <br />
                                    24 de Outubro de 2024
                                </p>
                            </div>
                            <div class="mt-4">
                                <a
                                    role="button"
                                    class="theme-btn px-3 text-center"
                                    [routerLink]="URLS.PATHS.GIFTS.LIST.ABSOLUTE_PATH()"
                                    >Lista de presentes</a
                                >
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="static-hero-right">
        <div class="static-hero-img">
            <div class="static-hero-img-inner">
                <img class="zoom" src="assets/images/hero/hero-us.png" alt="" />
            </div>
        </div>
        <div class="wpo-wedding-date p-0">
            <div id="clock" class="row justify-content-between align-items-center g-2 text-white w-100 py-3 px-lg-3">
                <div class="col">
                    <div>
                        <div class="time">{{ duration.get("months") }}</div>
                        <span>Meses</span>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="time">{{ duration.get("days") }}</div>
                        <span>Dias</span>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="time">{{ duration.get("hours") }}</div>
                        <span>Horas</span>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="time">{{ duration.get("minutes") }}</div>
                        <span>Min</span>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="time">{{ duration.get("seconds") }}</div>
                        <span>Seg</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
