.preview-panel-wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0vh;
    width: 100%;
    z-index: 99;
}
.preview-panel {
    width: 100%;
    /* max-width: 600px; */
    // height: 520px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}
