// wpo-page-title

.wpo-page-title {
    // background: url("https://placehold.co/1920x360") no-repeat center top / cover;
    // background: url("/assets/images/gift-hero.jpeg") no-repeat center -93px / cover;
    min-height: 520px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    .preview-panel-wrap {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0vh;
        width: 100%;
        z-index: 99;
    }
    .preview-panel {
        width: 100%;
        /* max-width: 600px; */
        height: 520px;
        // height: 100%;
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
        @media (max-width: 767px) {
            height: 250px;
        }
    }

    @media (max-width: 767px) {
        min-height: 250px;
    }

    .wpo-breadcumb-wrap {
        text-align: center;

        h2 {
            font-weight: 400;
            font-size: 45px;
            line-height: 57px;
            color: $dark-gray;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 55px;
                margin-bottom: 10px;
            }
        }

        ol {
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                padding: 0px 15px;
                color: $text-color;
                position: relative;
                font-size: 20px;

                @media (max-width: 767px) {
                    font-size: 18px;
                }
                @media (max-width: 575px) {
                    font-size: 16px;
                    padding: 0 10px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    right: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    background: $text-color;
                    border-radius: 50%;
                }

                &:last-child {
                    span {
                        color: #cbd4fd;
                    }

                    &:after {
                        display: none;
                    }
                }

                a {
                    color: $text-color;
                    font-size: 20px;
                    transition: all 0.3s;

                    @media (max-width: 767px) {
                        font-size: 18px;
                    }

                    @media (max-width: 575px) {
                        font-size: 16px;
                    }

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }
        }
    }
}
