<section class="wpo-couple-section-s3 section-padding" id="couple">
    <div class="container-fluid">
        <div class="couple-area clearfix">
            <div class="row align-items-center">
                <div class="col col-xl-3 col-lg-4 col-12">
                    <div class="text-grid">
                        <h3>Raquel Lins <br />de Souza Leão</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna orci auctor vitae nisl. Erat
                            fringilla pellentesque amet tempus. Commodo mi vitae, sagittis blandit.
                        </p>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/raquellsleao/" target="_blank">
                                        <i class="fa-brands fa-2x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-6 col-lg-4 col-12">
                    <div class="middle-couple-pic">
                        <div class="middle-couple-pic-inner">
                            <img src="assets/images/about-us.jpg" alt="" />
                        </div>
                        <img
                            src="assets/images/about-us/plant-01.svg"
                            style="
                                transform: rotate(-66deg);
                                right: 60%;
                                bottom: -25%;
                                position: absolute;
                                width: 13.6vw;
                            "
                            alt=""
                        />
                        <img
                            src="assets/images/about-us/plant-01.svg"
                            style="
                                transform: scaleX(-1) rotate(-66deg);
                                left: 60%;
                                bottom: -25%;
                                position: absolute;
                                width: 200px;
                            "
                            alt=""
                        />
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-4 col-12">
                    <div class="text-grid">
                        <h3>Igor Resende Pinheiro</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna orci auctor vitae nisl. Erat
                            fringilla pellentesque amet tempus. Commodo mi vitae, sagittis blandit.
                        </p>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/igoreesende/" target="_blank">
                                        <i class="fa-brands fa-2x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
