<section class="wpo-couple-section-s3 section-padding" id="couple">
    <div class="container-fluid">
        <div class="couple-area clearfix">
            <div class="row align-items-center">
                <div class="col col-xl-3 col-lg-4 col-12">
                    <div class="text-grid">
                        <h3>Raquel Lins <br />de Souza Leão</h3>
                        <p>
                            Geminiana, 28 anos. Formada em Administração pela UPE. Atualmente trabalha na Baterias
                            Moura. Mãe de Faísca e Fumaça, seus felinos. Ama viajar e ir à praia, ainda mais quando
                            combina as duas coisas com um bom vinho.
                        </p>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/raquellsleao/" target="_blank">
                                        <i class="fa-brands fa-2x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-6 col-lg-4 col-12">
                    <div class="middle-couple-pic">
                        <div class="middle-couple-pic-inner">
                            <img src="assets/images/about-us.jpg" alt="" />
                        </div>
                        <div class="couple-flower">
                            <img src="assets/images/about-us/couple-flower.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-4 col-12">
                    <div class="text-grid">
                        <h3>Igor Resende Pinheiro</h3>
                        <p>
                            Aquariano, 27 anos. Bacharel em Direito e Advogado pela UNICAP. Tenente do Exército
                            Brasileiro. Ama praia, churrasco, cerveja, futebol. Não é rubro-negro e sim torcedor do
                            SPORT CLUBE DO RECIFE.
                        </p>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/igoreesende/" target="_blank">
                                        <i class="fa-brands fa-2x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
