<section class="wpo-couple-section-s3 section-padding" id="couple">
    <div class="container-fluid">
        <div class="couple-area clearfix">
            <div class="row align-items-center">
                <div class="col col-xl-3 col-lg-4 col-12">
                    <div class="text-grid">
                        <h3>Raquel Lins <br />de Souza Leão</h3>
                        <p>
                            Geminiana, 28 anos. Formada em Administração pela UPE. Atualmente trabalha na Baterias
                            Moura. Mãe de 2 gatos (Faísca e Fumaça). Já viajou p/ quase todos os estados do Brasil.
                        </p>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/raquellsleao/" target="_blank">
                                        <i class="fa-brands fa-2x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-6 col-lg-4 col-12">
                    <div class="middle-couple-pic">
                        <div class="middle-couple-pic-inner">
                            <img src="assets/images/about-us.jpg" alt="" />
                        </div>
                        <div class="couple-flower">
                            <img src="assets/images/about-us/couple-flower.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-lg-4 col-12">
                    <div class="text-grid">
                        <h3>Igor Resende Pinheiro</h3>
                        <p>
                            27 anos. Aquariano. Advogado de formação pela UNICAP. Primeiro-tenente do Exército
                            Brasileiro. Ex-boleiro. Rubro-negro doente. Não perde um jogo do Sport desde 1998.
                        </p>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/igoreesende/" target="_blank">
                                        <i class="fa-brands fa-2x fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
